@{
    ViewData["Title"] = "Index";
    // Layout = "";
}

<h1>Index</h1>

<div class="container">
    <table class="table">
        <a asp-controller="TheLoai" asp-action="create" class="btn btn-primary">Thêm mới</a>

        <thead>
            <tr>
                <th>Tên thể loại</th>
                <th>Ngày tạo</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in ViewBag.TheLoai)
            {
                    <tr>
                        <td width="30%">@item.Name</td>
                        <td width="70%">@String.Format("{0:dd/MM/yyyy}", item.DateCreated)</td>
                    </tr>
            }
        </tbody>
    </table>
</div>