@{
    ViewData["Title"] = "Home Page";
}


<header>
    <h2>GIỚI THIỆU</h2>
</header>

<section>
    <nav>
        <ul>
            <li><a href="~/trang-chu">Bản thân</a></li>
            <li><a href="~/gioi-thieu-nhom">Nhóm</a></li>
        </ul>
    </nav>

    <article>
        <h1>Lương Quốc Anh</h1>
        <p>------</p>
        <img src="https://scontent.fsgn5-5.fna.fbcdn.net/v/t39.30808-6/456907713_122125669070334842_2954975688213069414_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=6ee11a&_nc_ohc=ZxdbW_DjbIUQ7kNvgGVl2VV&_nc_ht=scontent.fsgn5-5.fna&oh=00_AYDP0qHiBBTR_VXAoocCMd8svm1dabY-M1qYhFqkpqvz4Q&oe=66D89B7F" style="width:100px;" />
    </article>
</section>

<footer>
    <p>Copyright &copy; Luong Quoc Anh - @DateTime.Now.Year</p>
</footer>
