@{
    ViewData["Title"] = "Đăng Ký";
}

@model TaiKhoanViewModel

<div class="container mt-5">
    <form method="post" action="/YourAction">
        <h1 class="text-center mb-4">Đăng Ký</h1>
        <div class="form-group">
            <label for="Username">Tên tài khoản:</label>
            <input type="text" asp-for="Username" class="form-control" />
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="Password">Mật khẩu:</label>
            <input type="password" asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="HoTen">Họ tên:</label>
            <input type="text" asp-for="HoTen" class="form-control" />
            <span asp-validation-for="HoTen" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="Tuoi">Tuổi:</label>
            <input type="number" asp-for="Tuoi" class="form-control" />
            <span asp-validation-for="Tuoi" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Đăng ký</button>
    </form>
</div>
